ul li ul {
                    display: none;
                    }
                    
                    .ele {
                    cursor: pointer;
                    }
                    
                    .ele:hover {
                    color: red;
                    }